<a href="https://colab.research.google.com/github/KaisenWu/CyberSecurity_MiniProject_CaesarCipher_Python/blob/main/FeatureEngineering_Project_CourseRecords_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Feature Engineering Project by Pandas</center>

## Project Overview
The purpose of this project is to clean and engineering the data by pandas and numpy.
The main techs includes:


1.   Missing value processing.
2.   String processing.
3.   Data type parsing.
4.   Column name processing.

## About The Dataset
This dataset concludes ths records of the courses.

## Data Processing

In [32]:
# Import the libraries.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [33]:
# Load the dataset.
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Lab1 Data/course_data_uncleaned.csv')

In [34]:
# Check the dataframe head.
df.head().transpose()

,0,1,2,3,4
course name,Algorithmic Trading & Quantitative Analysis Us...,ISO/IEC 27001. Information Security Management...,Procedural Terrain Generation with Unity,Jenkins 2 Bootcamp: Fully Automate Builds to D...,"Instagram Marketing 2020: Hashtags, Live, Stor..."
course category,design,business,development,development,office productivity
course sub category,Game Design,Data & Analytics,Programming Languages,Programming Languages,Microsoft
avg rating,4.2,4.6,4.6,4.6,4.5
number ratings,6340.0,9281.0,6833.0,72122.0,2826.0
enrollment,54930.0,48338.0,21218.0,717921.0,14269.0
last updated,8/2020,3/2018,10/2020,4/2020,10/2020
lectures,162.0,37.0,53.0,51.0,41.0
duration,19h 23m,3h 54m,5h 14m,9h 30m,7h 8m
price2,CA$23.99,CA$16.99,CA$23.99,CA$21.99,CA$19.99
price,NaN,NaN,NaN,39,CA$19.99
discount,90%,56%,91%,88%,88%
inst rating,4.2,4.5,4.6,4.6,4.5
inst review,13453.0,246008.0,19993.0,75247.0,11922.0
inst student,179306.0,1145810.0,55621.0,751881.0,53659.0
inst course,12.0,81.0,3.0,2.0,10.0

In [35]:
# Check the columns.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2004 entries, 0 to 2003
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course name          1970 non-null   object
 1   course category      1970 non-null   object
 2   course sub category  1970 non-null   object
 3   avg rating           1967 non-null   float64
 4   number ratings       1967 non-null   float64
 5   enrollment           1965 non-null   float64
 6   last updated         1970 non-null   object
 7   lectures             1966 non-null   float64
 8   duration             1970 non-null   object
 9   price2               1651 non-null   object
 10  price                659 non-null    object
 11  discount             1970 non-null   object
 12  inst rating          1967 non-null   float64
 13  inst review          1967 non-null   float64
 14  inst student         1970 non-null   float64
 15  inst course          1970 non-null   float64
dtypes: float64(8), object(8)
memory usage: 250.6+ KB

In [36]:
# Get the statistics information.
df.describe()

,avg rating,number ratings,enrollment,lectures,inst rating,inst review,inst student,inst course
count,1967.000000,1967.000000,1.965000e+03,1966.000000,1967.000000,1967.000000,1.970000e+03,1970.000000
mean,4.407270,4708.649720,2.542528e+04,105.789929,4.412354,48894.806304,2.209746e+05,29.349746
std,0.271507,14306.115023,6.109779e+04,100.122851,0.230230,98284.751447,3.768465e+05,94.717280
min,2.100000,17.000000,3.600000e+01,5.000000,2.600000,31.000000,5.500000e+01,1.000000
25%,4.300000,598.500000,3.696000e+03,44.000000,4.300000,2515.500000,1.593425e+04,5.000000
50%,4.500000,1411.000000,9.313000e+03,74.000000,4.500000,11423.000000,6.334700e+04,12.000000
75%,4.600000,3492.500000,2.139300e+04,125.750000,4.600000,43931.000000,2.421375e+05,23.000000
max,4.900000,321904.000000,1.112443e+06,699.000000,4.800000,652986.000000,2.168985e+06,1420.000000

In [37]:
# Check NAN value in each column.
df.isnull().sum()

course name              34
course category          34
course sub category      34
avg rating               37
number ratings           37
enrollment               39
last updated             34
lectures                 38
duration                 34
price2                  353
price                  1345
discount                 34
inst rating              37
inst review              37
inst student             34
inst course              34
dtype: int64

In [38]:
# Drop rows having only missing values.
df.dropna(how='all', inplace=True)

In [39]:
# Check the price column NAN value.
df['price'].isnull().sum()

1311

In [40]:
# Check the price2 column NAN value.
df['price2'].isnull().sum()

319

In [41]:
# Use the price value to replace the NAN value in the price 2 column.
df['price2'].fillna(df['price'], inplace=True)

In [42]:
df.drop('price', axis=1, inplace=True)
df.rename(columns={'price2':'price'}, inplace=True)

In [43]:
# Drop the row which contain at least 1 NAN value.
df.dropna(inplace=True)

In [44]:
# Recheck the NAN values.
df.isnull().sum()

course name            0
course category        0
course sub category    0
avg rating             0
number ratings         0
enrollment             0
last updated           0
lectures               0
duration               0
price                  0
discount               0
inst rating            0
inst review            0
inst student           0
inst course            0
dtype: int64

In [45]:
df = pd.DataFrame(df.values, columns=df.columns.map(lambda x:x.replace(" ", "_")))

In [46]:
# Recheck columns' names
df.columns

Index(['course_name', 'course_category', 'course_sub_category', 'avg_rating',
       'number_ratings', 'enrollment', 'last_updated', 'lectures', 'duration',
       'price', 'discount', 'inst_rating', 'inst_review', 'inst_student',
       'inst_course'],
      dtype='object')

In [47]:
# Remove the % symbols from the discount column.
df['discount'] = df['discount'].apply(lambda x:x[:-1])

In [48]:
# Remove the text CA$ symbols from the price column.
df['price'] = df['price'].apply(lambda x:x.replace('CA$',''))

In [49]:
df['duration'].apply(lambda x:len(x)).value_counts()

6    1099
7     634
5     200
3      16
8       3
Name: duration, dtype: int64

In [50]:
for d in df['duration']:
  if len(d) == 3:
    print(d)

38m
57m
57m
53m
53m
51m
48m
58m
50m
42m
52m
48m
30m
41m
58m
31m

In [51]:
for d in df['duration']:
  if len(d) == 5:
    print(d)

7h 8m
4h 8m
5h 3m
6h 6m
9h 0m
9h 8m
6h 7m
2h 6m
3h 8m
4h 0m
6h 5m
6h 6m
4h 3m
2h 3m
3h 5m
6h 4m
7h 8m
5h 6m
5h 2m
3h 6m
5h 3m
5h 6m
7h 7m
7h 1m
3h 6m
2h 3m
4h 6m
1h 3m
2h 2m
4h 5m
4h 5m
3h 6m
1h 7m
3h 9m
7h 7m
2h 7m
5h 7m
8h 5m
3h 6m
5h 2m
6h 7m
5h 7m
6h 4m
5h 0m
3h 0m
9h 9m
6h 9m
6h 4m
4h 2m
2h 8m
5h 2m
5h 1m
7h 1m
4h 5m
9h 4m
7h 3m
2h 6m
5h 7m
9h 4m
3h 1m
7h 7m
8h 7m
5h 3m
4h 6m
4h 9m
9h 3m
2h 6m
4h 7m
6h 9m
3h 5m
8h 4m
4h 3m
2h 3m
8h 3m
9h 9m
8h 2m
3h 8m
3h 8m
9h 0m
4h 2m
2h 6m
7h 0m
8h 9m
3h 6m
3h 7m
3h 6m
5h 7m
5h 7m
5h 0m
3h 5m
4h 8m
2h 1m
7h 1m
4h 3m
2h 6m
6h 4m
7h 0m
1h 7m
7h 0m
5h 7m
5h 2m
4h 2m
9h 0m
9h 5m
1h 4m
1h 8m
1h 4m
1h 9m
2h 4m
4h 0m
2h 6m
4h 9m
9h 3m
1h 5m
1h 6m
1h 4m
4h 0m
9h 0m
6h 4m
3h 8m
9h 3m
6h 5m
2h 3m
2h 6m
7h 2m
5h 7m
4h 7m
3h 7m
4h 3m
7h 8m
2h 7m
8h 3m
2h 4m
2h 5m
5h 8m
6h 5m
5h 7m
6h 3m
3h 8m
2h 8m
4h 5m
5h 6m
4h 2m
6h 1m
4h 5m
3h 8m
2h 8m
3h 1m
6h 7m
6h 9m
4h 5m
8h 3m
9h 6m
3h 4m
5h 6m
8h 3m
2h 9m
4h 5m
1h 5m
3h 4m
2h 6m
7h 7m
8h 4m
4h 1m
6h 5m
7h 6m
7h 7m
7h 6m
5h 5m
7h 1m
6h 4m
3h 7m
8h 7m
6h 1m
5h 8m
5h 1m
2h 1m
5h 1m
5h 4m
2h 5m
6h 5m
9h 1m
2h 5m
6h 4m
4h 6m
8h 4m
6h 4m
6h 3m
1h 3m
7h 4m
4h 3m
5h 2m
2h 8m
3h 8m
1h 0m
1h 6m
7h 2m
8h 8m
5h 1m
3h 8m

In [52]:
# Transform the value of duration into hours.
def tranDuration(d):
  if len(d) == 3:
    d = float(d[:-1])/60
  else:
    dArr = d.split(" ")
    d = float(dArr[0][:-1]) + float(dArr[1][:-1])/60
  return d
df['duration'] = df['duration'].apply(tranDuration)

In [53]:
df['last_updated']

0        8/2020
1        3/2018
2       10/2020
3        4/2020
4       10/2020
         ...
1947     9/2020
1948     6/2015
1949     6/2020
1950     3/2017
1951    10/2020
Name: last_updated, Length: 1952, dtype: object

In [54]:
# Transform the value of last_updated into a number representing the value.
def transLast(last):
  lastArr = last.split('/')
  x = float(lastArr[1][-2:]) + float(lastArr[0])/100
  return x

df['last_updated'] = df['last_updated'].apply(transLast)

In [55]:
# Change the datatypes of column discount, price and last_updated into float64.
df['price'] = pd.to_numeric(df['price'])
df['discount'] = pd.to_numeric(df['discount'])
df['last_updated'] = pd.to_numeric(df['last_updated'])

In [56]:
df['course_category'].value_counts()

development             575
it software             462
business                358
design                  148
teaching academics       77
personal development     71
marketing                70
office productivity      52
music                    48
health fitness           37
lifestyle                31
photography              21
finance accounting        1
other                     1
Name: course_category, dtype: int64

In [57]:
# Combine some courses to reduce the amount of the course number.
def combine_course(course):
  if 'business' in course.lower() or 'finance' in course.lower() or 'marketing' in course.lower() or 'office' in course.lower() or 'teaching' in course.lower() or 'personal development' in course.lower():
    course = 'business & education'.replace(" ", "_")
  elif 'music' in course.lower() or 'lifestyle' in course.lower() or 'health' in course.lower() or 'photo' in course.lower() or 'other' in course.lower():
    course = 'personal hobby'.replace(" ", "_")
  else:
    course = course.replace(" ", "_")
  return course
df['course_category'] = df['course_category'].apply(combine_course)

In [58]:
df['course_category'].value_counts()

business_&_education    629
development             575
it_software             462
design                  148
personal_hobby          138
Name: course_category, dtype: int64

In [59]:
df.columns

Index(['course_name', 'course_category', 'course_sub_category', 'avg_rating',
       'number_ratings', 'enrollment', 'last_updated', 'lectures', 'duration',
       'price', 'discount', 'inst_rating', 'inst_review', 'inst_student',
       'inst_course'],
      dtype='object')

In [60]:
# Drop the unneeded fetures.
df.drop(['course_name','course_sub_category'], axis=1, inplace=True)

In [61]:
# Reset the index.
df.reset_index(inplace=True)

In [62]:
# Recheck the dataframe.
df.head()

,index,course_category,avg_rating,number_ratings,enrollment,last_updated,lectures,duration,price,discount,inst_rating,inst_review,inst_student,inst_course
0,0,design,4.2,6340.0,54930.0,20.08,162.0,19.383333,23.99,90,4.2,13453.0,179306.0,12.0
1,1,business_&_education,4.6,9281.0,48338.0,18.03,37.0,3.900000,16.99,56,4.5,246008.0,1145810.0,81.0
2,2,development,4.6,6833.0,21218.0,20.10,53.0,5.233333,23.99,91,4.6,19993.0,55621.0,3.0
3,3,development,4.6,72122.0,717921.0,20.04,51.0,9.500000,21.99,88,4.6,75247.0,751881.0,2.0
4,4,business_&_education,4.5,2826.0,14269.0,20.10,41.0,7.133333,19.99,88,4.5,11922.0,53659.0,10.0

In [64]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/Lab1 Data/course_data_cleaned.csv', index=False)